@using BlazorCinemaDigest.ApiRequest.Services
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

@code {
	@inject UserService UserService
	void LogOut()
	{
		UserService.UnsetUser(UserService.CurrentUser);
		Navigation.NavigateTo("/");
	}
}
<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="nav-item px-3 d-flex gap-4 align-items-center" d-flex gap-4>

		</div>
		<article class="px-4">
			@Body
		</article>
	</main>
</div>


<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>

